In [116]:
import pandas as pd

## Chargement des données sur la politique mondiale

In [117]:
columns = ['eu', 'year', 'country', 'gov_right1', 'gov_cent1', 'gov_left1', 'gov_right3', 'gov_cent3', 'gov_left3']
df1 = pd.read_excel('./data/politique_mondiale.xlsx', usecols=columns)
df1 = df1[(df1.eu == 1) & (df1.year >= 2000)]
df1

,year,country,eu,gov_right1,gov_cent1,gov_left1,gov_right3,gov_cent3,gov_left3
100,2000.0,Austria,1.0,45.36,49.64,4.29,25.760000,28.40,3.6
101,2001.0,Austria,1.0,50.00,50.00,0.00,28.400000,28.40,0.0
102,2002.0,Austria,1.0,50.00,50.00,0.00,28.400000,28.40,0.0
103,2003.0,Austria,1.0,28.97,64.02,0.00,12.760000,40.85,0.0
104,2004.0,Austria,1.0,25.00,66.67,0.00,9.800000,43.20,0.0
...,...,...,...,...,...,...,...,...,...
1693,2015.0,United Kingdom,1.0,100.00,0.00,0.00,52.639726,0.00,0.0
1694,2016.0,United Kingdom,1.0,100.00,0.00,0.00,50.810000,0.00,0.0
1695,2017.0,United Kingdom,1.0,100.00,0.00,0.00,49.640000,0.00,0.0
1696,2018.0,United Kingdom,1.0,100.00,0.00,0.00,48.800000,0.00,0.0
1697,2019.0,United Kingdom,1.0,100.00,0.00,0.00,48.020000,0.00,0.0

## Formattage des noms de pays du dataframe en français

In [118]:
country_name_en = df1['country'].unique().tolist()
country_name_fr = ['Autriche', 'Belgique', 'Bulgarie', 'Croatie', 'Chypre', 'République tchèque', 'Danemark', 'Estonie', 'Finlande', 'France', 'Allemagne', 'Grèce', 'Hongrie', 'Irlande', 'Italie', 'Lettonie', 'Lituanie', 'Luxembourg', 'Malte', 'Pays-Bas', 'Pologne', 'Portugal', 'Roumanie', 'Slovaquie', 'Slovénie', 'Espagne', 'Suède', 'Royaume-Uni']
df1 = df1.replace(country_name_en, country_name_fr)
df1

,year,country,eu,gov_right1,gov_cent1,gov_left1,gov_right3,gov_cent3,gov_left3
100,2000.0,Autriche,1.0,45.36,49.64,4.29,25.760000,28.40,3.6
101,2001.0,Autriche,1.0,50.00,50.00,0.00,28.400000,28.40,0.0
102,2002.0,Autriche,1.0,50.00,50.00,0.00,28.400000,28.40,0.0
103,2003.0,Autriche,1.0,28.97,64.02,0.00,12.760000,40.85,0.0
104,2004.0,Autriche,1.0,25.00,66.67,0.00,9.800000,43.20,0.0
...,...,...,...,...,...,...,...,...,...
1693,2015.0,Royaume-Uni,1.0,100.00,0.00,0.00,52.639726,0.00,0.0
1694,2016.0,Royaume-Uni,1.0,100.00,0.00,0.00,50.810000,0.00,0.0
1695,2017.0,Royaume-Uni,1.0,100.00,0.00,0.00,49.640000,0.00,0.0
1696,2018.0,Royaume-Uni,1.0,100.00,0.00,0.00,48.800000,0.00,0.0
1697,2019.0,Royaume-Uni,1.0,100.00,0.00,0.00,48.020000,0.00,0.0

## Chargement des données sur les inégalités en Europe

In [119]:
df2 = pd.read_excel('./data/inegalite_europe.xlsx', header=None, names=['country', 'def', 'pall', 'year', 'geni'], usecols=['country', 'year', 'geni'])
df2

       country  year      geni
0    Allemagne  2000  0.436821
1    Allemagne  2001  0.439630
2    Allemagne  2002  0.443165
3    Allemagne  2003  0.434784
4    Allemagne  2004  0.446877
..         ...   ...       ...
555      Suède  2015  0.408765
556      Suède  2016  0.392907
557      Suède  2017  0.399593
558      Suède  2018  0.394447
559      Suède  2019  0.395844

[560 rows x 3 columns]

## Fusion des deux dataframes

In [120]:
df = pd.merge(df1, df2)
df

,year,country,eu,gov_right1,gov_cent1,gov_left1,gov_right3,gov_cent3,gov_left3,geni
0,2000.0,Autriche,1.0,45.36,49.64,4.29,25.760000,28.40,3.6,0.445938
1,2001.0,Autriche,1.0,50.00,50.00,0.00,28.400000,28.40,0.0,0.432687
2,2002.0,Autriche,1.0,50.00,50.00,0.00,28.400000,28.40,0.0,0.448204
3,2003.0,Autriche,1.0,28.97,64.02,0.00,12.760000,40.85,0.0,0.458622
4,2004.0,Autriche,1.0,25.00,66.67,0.00,9.800000,43.20,0.0,0.442338
...,...,...,...,...,...,...,...,...,...,...
488,2015.0,Royaume-Uni,1.0,100.00,0.00,0.00,52.639726,0.00,0.0,0.469553
489,2016.0,Royaume-Uni,1.0,100.00,0.00,0.00,50.810000,0.00,0.0,0.467841
490,2017.0,Royaume-Uni,1.0,100.00,0.00,0.00,49.640000,0.00,0.0,0.466156
491,2018.0,Royaume-Uni,1.0,100.00,0.00,0.00,48.800000,0.00,0.0,0.467227
492,2019.0,Royaume-Uni,1.0,100.00,0.00,0.00,48.020000,0.00,0.0,0.464900

## Fonction pour extraire les données dans un unique dataframe

In [121]:
def extract_data():
    country_name_fr = [
        'Autriche', 'Belgique', 'Bulgarie', 'Croatie', 'Chypre', 'République tchèque', 'Danemark', 'Estonie',
        'Finlande', 'France', 'Allemagne', 'Grèce', 'Hongrie', 'Irlande', 'Italie', 'Lettonie', 'Lituanie',
        'Luxembourg', 'Malte', 'Pays-Bas', 'Pologne', 'Portugal', 'Roumanie', 'Slovaquie', 'Slovénie', 'Espagne',
        'Suède', 'Royaume-Uni'
    ]
    columns = ['eu', 'year', 'country', 'gov_right1', 'gov_cent1', 'gov_left1', 'gov_right3', 'gov_cent3', 'gov_left3']
    
    df1 = pd.read_excel('./data/politique_mondiale.xlsx', usecols=columns).query('(eu == 1) & (year >= 2000)')
    df1 = df1.replace(df1['country'].unique().tolist(), country_name_fr)
    
    df2 = pd.read_excel('./data/inegalite_europe.xlsx', header=None, names=['country', 'def', 'pall', 'year', 'geni'], usecols=['country', 'year', 'geni'])
    
    return pd.merge(df1, df2)