In [1]:
import pandas as pd

In [10]:
df_global = pd.read_csv('2020.csv',sep=';')
df_places = pd.read_csv('lieux-2020.csv',sep=';')
df_vehicles = pd.read_csv('vehicules-2020.csv',sep=';')
df_carac = pd.read_csv('caracteristiques-2020.csv',sep=';')
df_users = pd.read_csv('usagers-2020.csv',sep=';')

In [11]:
df_global

,Id_accident,Lettre Conventionnelle Véhicule,Année,Lieu Admin Actuel - Territoire Nom,Type Accident - Libellé,CNIT,Catégorie véhicule,Age véhicule
0,66 505 400,A,2020,Métropole,Accident Léger,LJH12E20H030,Moto légère,18.0
1,66 505 401,A,2020,Métropole,Accident Léger,M10PGTVP0448882,VT,3.0
2,66 505 401,B,2020,Métropole,Accident Léger,M10JEPVP000M528,VT,6.0
3,66 505 402,A,2020,Métropole,Accident Léger,M10RENVP4788853,VT,5.0
4,66 505 402,B,2020,Métropole,Accident Léger,NaN,VT,NaN
...,...,...,...,...,...,...,...,...
74659,66 554 980,A,2020,Métropole,Accident grave non mortel,NaN,VT,13.0
74660,66 554 980,B,2020,Métropole,Accident grave non mortel,NaN,VT,13.0
74661,66 554 981,A,2020,Métropole,Accident Léger,MPE5312M0081,VT,15.0
74662,66 554 982,A,2020,Métropole,Accident grave non mortel,L3EBMWM20236192,Moto lourde,5.0
74663,66 554 982,B,2020,Métropole,Accident grave non mortel,M10RENVP000U009,VT,11.0

In [12]:
df_places

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202000000001,4,HENRI BARBUSSE (AVENUE),0,NaN,2,2,0,1,0,0,1,NaN,-1,1,0,1,50
1,202000000002,4,MOUSSEAUX(CHEMIN),0,NaN,2,2,0,1,0,100,3,NaN,-1,1,0,1,50
2,202000000003,4,CARNOT(AVENUE),0,NaN,-1,2,0,1,0,0,1,NaN,-1,1,0,1,50
3,202000000004,4,VICTOR HUGO (AVENUE),0,NaN,2,2,0,1,1,0,1,NaN,-1,1,0,1,30
4,202000000005,3,35,0,NaN,1,1,0,1,4,674,2,NaN,-1,1,3,8,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47739,202000047740,3,141,0,NaN,1,1,0,1,0,0,1,NaN,-1,1,0,1,50
47740,202000047741,3,CASTAGNINS (ROUTE DES),0,NaN,4,2,0,2,1,530,1,NaN,-1,1,0,1,30
47741,202000047742,3,MADELEINE,0,NaN,2,2,0,2,0,0,3,NaN,-1,1,0,1,50
47742,202000047743,3,900,0,B,2,2,0,1,0,650,1,NaN,-1,1,0,1,50
47743,202000047744,4,JEAN MACE ( RUE ),0,NaN,-1,2,0,2,0,1,1,NaN,-1,1,0,1,30

In [13]:
df_vehicles

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor,occutc
0,202000000001,154 742 274,B01,1,7,0,2,2,15,1,NaN
1,202000000001,154 742 275,A01,1,33,0,2,1,2,1,NaN
2,202000000002,154 742 273,A01,3,7,0,1,2,26,1,NaN
3,202000000003,154 742 271,B01,1,7,0,2,1,1,1,NaN
4,202000000003,154 742 272,A01,1,7,0,2,8,1,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
81061,202000047742,154 658 354,A01,2,7,0,2,3,0,1,NaN
81062,202000047742,154 658 355,B01,1,7,0,2,8,1,3,NaN
81063,202000047743,154 658 351,B01,1,7,0,2,4,23,1,NaN
81064,202000047743,154 658 352,A01,1,7,0,2,1,2,1,NaN
81065,202000047744,154 658 350,A01,2,32,0,1,1,1,1,NaN

In [14]:
df_carac

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202000000001,7,3,2020,16:55,1,91,91657,2,3,1,3,HENRI BARBUSSE (AVENUE),"48,7053500","2,4384100"
1,202000000002,7,3,2020,08:35,2,91,91657,2,9,7,6,MOUSSEAUX(CHEMIN),"48,6900000","2,4100000"
2,202000000003,7,3,2020,13:30,1,91,91174,2,2,1,3,CARNOT(AVENUE),"48,6106700","2,4758200"
3,202000000004,7,3,2020,18:50,5,91,91215,2,1,1,6,VICTOR HUGO (AVENUE),"48,6978200","2,5244600"
4,202000000005,7,3,2020,11:00,1,77,77181,1,6,1,2,LAGNY (RUE DE ) - D35,"48,8286457","2,7059707"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47739,202000047740,30,11,2020,07:50,1,13,13028,2,1,1,4,PUITS DE BRUNET (CHEMIN DU),"43,1865750","5,6003810"
47740,202000047741,30,11,2020,17:00,2,06,06083,2,1,9,3,CASTAGNINS (ROUTE DES),"43,7799570","7,4818980"
47741,202000047742,1,12,2020,10:00,1,06,06069,2,1,1,5,MADELEINE,"43,6571157","6,9337155"
47742,202000047743,28,11,2020,11:45,1,05,05061,1,1,1,2,Bernard GIVAUDAN (Avenue) D900B,"44,5406800","6,0641900"
47743,202000047744,18,11,2020,17:44,4,05,05061,2,1,1,6,JEAN MACE ( RUE ),"44,5614810","6,0740270"

In [15]:
df_users

,Num_Acc,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202000000001,154 742 274,B01,1,1,1,1,1983,5,1,0,-1,-1,-1,-1
1,202000000001,154 742 275,A01,1,1,3,1,1982,5,2,6,-1,-1,-1,-1
2,202000000002,154 742 273,A01,1,1,1,1,1997,1,8,0,-1,-1,-1,-1
3,202000000002,154 742 273,A01,10,3,4,1,1967,5,0,-1,-1,3,3,1
4,202000000003,154 742 271,B01,1,1,1,1,1985,0,1,0,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105290,202000047743,154 658 351,B01,4,2,4,1,2011,5,1,0,-1,0,0,-1
105291,202000047743,154 658 351,B01,1,1,4,2,1981,5,1,0,-1,0,0,-1
105292,202000047743,154 658 352,A01,1,1,4,1,1998,9,1,0,-1,0,0,-1
105293,202000047744,154 658 350,A01,1,1,1,1,1967,9,2,0,-1,-1,-1,-1
105294,202000047744,154 658 350,A01,10,3,4,2,1963,5,0,-1,-1,3,3,1

recuperer liste de radar (automatique)

voir avant après impact sur les accidents

efficacité des types de radar

destruction des radars

In [18]:
df_radars = pd.read_csv('radars.csv',sep=',')

In [22]:
df_radars.type.unique()

array(['Radar feu rouge', 'Radar fixe', 'Radar discriminant',
       'Radar Passage à Niveau', 'Radar Vitesse Moyenne', 'Itinéraire'],
      dtype=object)

In [23]:
df_radars[df_radars.type == 'Itinéraire']

,date_heure_dernier_changement,date_heure_creation,departement,latitude,longitude,id,direction,equipement,date_installation,type,emplacement,route,longueur_troncon_km,vitesse_poids_lourds_kmh,vitesse_vehicules_legers_kmh
3278,2018-09-05T12:28:35Z,2018-09-05T12:27:21Z,01,45.773383,5.205681,16875,NaN,NaN,2017-04-10T00:00:00Z,Itinéraire,NaN,RD 1075 - RD20,55.0,NaN,NaN
3279,2018-09-05T12:28:35Z,2018-09-05T12:27:24Z,06,43.731979,7.412692,16876,NaN,NaN,2018-01-18T00:00:00Z,Itinéraire,NaN,RD 6007,8.7,NaN,NaN
3280,2018-09-05T12:28:35Z,2018-09-05T12:27:24Z,07,44.938465,4.830817,16877,NaN,NaN,2017-02-03T00:00:00Z,Itinéraire,NaN,RD 533,53.5,NaN,NaN
3281,2018-09-05T12:28:38Z,2018-09-05T12:27:26Z,08,48.976904,4.377210,16878,NaN,NaN,2016-03-30T00:00:00Z,Itinéraire,NaN,RD 977 - RD 987,78.2,NaN,NaN
3282,2018-09-05T12:28:38Z,2018-09-05T12:27:26Z,09,43.213460,2.302565,16879,NaN,NaN,2017-01-27T00:00:00Z,Itinéraire,NaN,RD 119,39.4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3345,2018-09-05T12:29:37Z,2018-09-05T12:29:37Z,81,43.896684,2.151713,16942,NaN,NaN,2016-07-18T00:00:00Z,Itinéraire,NaN,RD 612,31.8,NaN,NaN
3346,2018-09-05T12:29:37Z,2018-09-05T12:29:37Z,86,46.508771,0.471131,16943,NaN,NaN,2017-10-11T00:00:00Z,Itinéraire,NaN,RN 147,5.3,NaN,NaN
3347,2018-09-05T12:29:39Z,2018-09-05T12:29:39Z,87,45.891151,1.280403,16944,NaN,NaN,2017-02-10T00:00:00Z,Itinéraire,NaN,RN 520,12.6,NaN,NaN
3348,2018-09-05T12:29:39Z,2018-09-05T12:29:39Z,88,48.198949,6.476978,16945,NaN,NaN,2016-12-13T00:00:00Z,Itinéraire,NaN,RD 46,20.9,NaN,NaN
3349,2018-09-05T12:29:40Z,2018-09-05T12:29:40Z,90,47.573626,7.494679,16946,NaN,NaN,2016-12-05T00:00:00Z,Itinéraire,NaN,RD 419,50.9,NaN,NaN

In [26]:
df_radars['date_installation'].describe()

count                     3350
unique                    1441
top       2011-04-28T00:00:00Z
freq                        23
Name: date_installation, dtype: object