In [2]:
from pathlib import Path

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%config InlineBackend.figure_format='retina'

In [3]:
PATH_RESOURCES = Path("TBGT_population_vs_train_speed/data")

In [4]:
train_df = pd.read_csv(PATH_RESOURCES / "meilleurs-temps-des-parcours-des-trains.csv", sep=";")
train_df.sort_values("Année", inplace=True)
train_df

                Relations  Année  Temps estimé en minutes
0           PARIS - ARRAS   1920                      NaN
29      LYON - STRASBOURG   1920                      NaN
30       PARIS - BOULOGNE   1920                      NaN
32    PARIS - LA ROCHELLE   1920                      NaN
34         PARIS - AMIENS   1920                      NaN
...                   ...    ...                      ...
3947     PARIS - TOULOUSE   2019                    245.0
3948     PARIS - POITIERS   2019                     76.0
3951        PARIS - TOURS   2019                     64.0
3955   PARIS - ST ETIENNE   2019                    168.0
3998       PARIS - RENNES   2019                     85.0

[3999 rows x 3 columns]

In [5]:
len(pd.unique(train_df["Relations"]))

43

In [6]:
train_df.set_index("Relations", inplace=True)
train_df.set_index("Année", append=True)

                           Temps estimé en minutes
Relations           Année
PARIS - ARRAS       1920                       NaN
LYON - STRASBOURG   1920                       NaN
PARIS - BOULOGNE    1920                       NaN
PARIS - LA ROCHELLE 1920                       NaN
PARIS - AMIENS      1920                       NaN
...                                            ...
PARIS - TOULOUSE    2019                     245.0
PARIS - POITIERS    2019                      76.0
PARIS - TOURS       2019                      64.0
PARIS - ST ETIENNE  2019                     168.0
PARIS - RENNES      2019                      85.0

[3999 rows x 1 columns]

In [7]:
train_df.loc["PARIS - ARRAS"]

               Année  Temps estimé en minutes
Relations
PARIS - ARRAS   1920                      NaN
PARIS - ARRAS   1928                      NaN
PARIS - ARRAS   1929                      NaN
PARIS - ARRAS   1930                      NaN
PARIS - ARRAS   1931                      NaN
...              ...                      ...
PARIS - ARRAS   2015                     49.0
PARIS - ARRAS   2016                     49.0
PARIS - ARRAS   2017                     49.0
PARIS - ARRAS   2018                     48.0
PARIS - ARRAS   2019                     48.0

[93 rows x 2 columns]

In [8]:
my_line = "PARIS - BAYONNE"
my_line_df = train_df[train_df["Relations"] == my_line]
my_line_df

KeyError: 'Relations'

In [ ]:
plt.plot(my_line_df["Année"], my_line_df["Temps estimé en minutes"].tolist())

In [ ]:
na_size = train_df[train_df["Temps estimé en minutes"].isna()].groupby("Année").size()

plt.rcParams["figure.figsize"] = (20,5)
plt.bar(na_size.index, na_size.tolist())

In [ ]:
train_nb = train_df.groupby("Année").size()
plt.bar(train_nb.index, )

In [ ]:
base-pop-historiques-1876-2019.xlsx