In [32]:
import pandas as pd

solver = {'voie' : 'O'}
df_2015 = pd.read_csv("data/Lieux/lieux_2015.csv")
df_2016 = pd.read_csv("data/Lieux/lieux_2016.csv", dtype=solver)
df_2017 = pd.read_csv("data/Lieux/lieux_2017.csv", dtype=solver)
df_2018 = pd.read_csv("data/Lieux/lieux_2018.csv", dtype=solver)
df_2019 = pd.read_csv("data/Lieux/lieux_2019.csv", sep=";")
df_2020 = pd.read_csv("data/Lieux/lieux_2020.csv", sep=";")
a = pd.read_csv("data/Caracteristiques/caracteristiques_2015.csv", encoding="latin-1")
b = pd.read_csv("data/Caracteristiques/caracteristiques_2016.csv", encoding="latin-1")
c = pd.read_csv("data/Caracteristiques/caracteristiques_2017.csv", encoding="latin-1")
d = pd.read_csv("data/Caracteristiques/caracteristiques_2018.csv", encoding="latin-1")
e = pd.read_csv("data/Caracteristiques/caracteristiques_2019.csv", sep=";")
f = pd.read_csv("data/Caracteristiques/caracteristiques_2020.csv", sep=";")
df_lieux = pd.concat([df_2015, df_2016, df_2017, df_2018, df_2019, df_2020])
df_carac = pd.concat([a, b, c, d, e, f])

df_final = df_lieux.merge(df_carac, on="Num_Acc", how="left",)
column_list = ["catr", "prof", "surf", "col","atm", "int", "lum", "plan"]
df_final = df_final[column_list]
df_final

        catr  prof  surf  col  atm  int  lum  plan
0          3   0.0   2.0  3.0  1.0    1    1   1.0
1          3   1.0   1.0  1.0  1.0    1    1   3.0
2          3   0.0   1.0  2.0  1.0    1    1   1.0
3          4   1.0   1.0  1.0  1.0    1    1   1.0
4          3   1.0   1.0  6.0  1.0    1    1   1.0
...      ...   ...   ...  ...  ...  ...  ...   ...
343149     3   1.0   1.0  4.0  1.0    1    1   1.0
343150     3   2.0   1.0  3.0  9.0    1    2   1.0
343151     3   2.0   1.0  5.0  1.0    1    1   3.0
343152     3   1.0   1.0  2.0  1.0    1    1   1.0
343153     4   2.0   1.0  6.0  1.0    1    4   1.0

[343154 rows x 8 columns]

In [33]:
print(df_final.isnull().sum())

catr       0
prof    1188
surf    1172
col       10
atm       18
int        0
lum        0
plan    1521
dtype: int64

In [34]:
df_final.dtypes

catr      int64
prof    float64
surf    float64
col     float64
atm     float64
int       int64
lum       int64
plan    float64
dtype: object

In [35]:
#mediane/moyenne a faire pour fill les données manquantes