In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import plotly.graph_objs as go
import plotly.express as px

pd.options.plotting.backend = "plotly"

In [92]:
df = pd.read_csv("data/sdg_13_10_linear.csv")
geoToCountry = pd.read_csv("data/geo_country.csv", index_col=1, squeeze=True)

/tmp/ipykernel_21237/3685227451.py:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  geoToCountry = pd.read_csv("data/geo_country.csv", index_col=1, squeeze=True)

In [93]:
df

,DATAFLOW,LAST UPDATE,freq,airpol,src_crf,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,AT,1990,100.0,NaN
1,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,AT,1991,104.8,NaN
2,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,AT,1992,96.5,NaN
3,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,AT,1993,96.9,NaN
4,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,AT,1994,97.3,NaN
...,...,...,...,...,...,...,...,...,...,...
4075,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,T_HAB,UK,2015,8.4,NaN
4076,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,T_HAB,UK,2016,7.9,NaN
4077,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,T_HAB,UK,2017,7.7,NaN
4078,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,T_HAB,UK,2018,7.6,NaN
4079,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,T_HAB,UK,2019,7.4,NaN

In [94]:
geoToCountry

geo
EU27_2020    Union européenne - 27 pays (à partir de 2020)
EU28                Union européenne - 28 pays (2013-2020)
BE                                                Belgique
BG                                                Bulgarie
CZ                                                Tchéquie
DK                                                Danemark
DE                                               Allemagne
EE                                                 Estonie
IE                                                 Irlande
EL                                                   Grèce
ES                                                 Espagne
FR                                                  France
HR                                                 Croatie
AT                                                Autriche
PL                                                 Pologne
PT                                                Portugal
RO                                                Roumanie
SI                                                Slovénie
SK                                               Slovaquie
FI                                                Finlande
SE                                                   Suède
IS                                                 Islande
NO                                                 Norvège
CH                                                  Suisse
UK                                             Royaume-Uni
TR                                                 Turquie
16:37                                                  NaN
IT                                                  Italie
CY                                                  Chypre
LV                                                Lettonie
LT                                                Lituanie
LU                                              Luxembourg
HU                                                 Hongrie
MT                                                   Malte
NL                                                Pays-Bas
Name: country, dtype: object

In [95]:
df.replace(geoToCountry.to_dict())

,DATAFLOW,LAST UPDATE,freq,airpol,src_crf,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,Autriche,1990,100.0,NaN
1,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,Autriche,1991,104.8,NaN
2,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,Autriche,1992,96.5,NaN
3,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,Autriche,1993,96.9,NaN
4,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,Autriche,1994,97.3,NaN
...,...,...,...,...,...,...,...,...,...,...
4075,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,T_HAB,Royaume-Uni,2015,8.4,NaN
4076,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,T_HAB,Royaume-Uni,2016,7.9,NaN
4077,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,T_HAB,Royaume-Uni,2017,7.7,NaN
4078,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,T_HAB,Royaume-Uni,2018,7.6,NaN
4079,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,T_HAB,Royaume-Uni,2019,7.4,NaN