In [105]:
import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import plotly.graph_objs as go
import plotly.express as px

pd.options.plotting.backend = "plotly"

In [106]:
df = pd.read_csv("data/sdg_13_10_linear.csv")
geoToCountry = pd.read_csv("data/geo_country.csv", index_col=1, squeeze=True)

/tmp/ipykernel_79643/3685227451.py:2: FutureWarning:

The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.

In [107]:
df

,DATAFLOW,LAST UPDATE,freq,airpol,src_crf,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,AT,1990,100.0,NaN
1,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,AT,1991,104.8,NaN
2,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,AT,1992,96.5,NaN
3,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,AT,1993,96.9,NaN
4,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,AT,1994,97.3,NaN
...,...,...,...,...,...,...,...,...,...,...
4075,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,T_HAB,UK,2015,8.4,NaN
4076,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,T_HAB,UK,2016,7.9,NaN
4077,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,T_HAB,UK,2017,7.7,NaN
4078,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,T_HAB,UK,2018,7.6,NaN
4079,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,T_HAB,UK,2019,7.4,NaN

In [108]:
geoToCountry

geo
EU27_2020    Union européenne - 27 pays (à partir de 2020)
EU28                Union européenne - 28 pays (2013-2020)
BE                                                Belgique
BG                                                Bulgarie
CZ                                                Tchéquie
DK                                                Danemark
DE                                               Allemagne
EE                                                 Estonie
IE                                                 Irlande
EL                                                   Grèce
ES                                                 Espagne
FR                                                  France
HR                                                 Croatie
AT                                                Autriche
PL                                                 Pologne
PT                                                Portugal
RO                                                Roumanie
SI                                                Slovénie
SK                                               Slovaquie
FI                                                Finlande
SE                                                   Suède
IS                                                 Islande
NO                                                 Norvège
CH                                                  Suisse
UK                                             Royaume-Uni
TR                                                 Turquie
16:37                                                  NaN
IT                                                  Italie
CY                                                  Chypre
LV                                                Lettonie
LT                                                Lituanie
LU                                              Luxembourg
HU                                                 Hongrie
MT                                                   Malte
NL                                                Pays-Bas
Name: country, dtype: object

In [110]:
df.replace(geoToCountry.to_dict(), inplace=True)
df

,DATAFLOW,LAST UPDATE,freq,airpol,src_crf,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,Autriche,1990,100.0,NaN
1,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,Autriche,1991,104.8,NaN
2,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,Autriche,1992,96.5,NaN
3,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,Autriche,1993,96.9,NaN
4,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,Autriche,1994,97.3,NaN
...,...,...,...,...,...,...,...,...,...,...
4075,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,T_HAB,Royaume-Uni,2015,8.4,NaN
4076,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,T_HAB,Royaume-Uni,2016,7.9,NaN
4077,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,T_HAB,Royaume-Uni,2017,7.7,NaN
4078,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,T_HAB,Royaume-Uni,2018,7.6,NaN
4079,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,T_HAB,Royaume-Uni,2019,7.4,NaN

In [104]:
I90_df = df[df.unit != 'T_HAB']
I90_df

,DATAFLOW,LAST UPDATE,freq,airpol,src_crf,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,Autriche,1990,100.0,NaN
1,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,Autriche,1991,104.8,NaN
2,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,Autriche,1992,96.5,NaN
3,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,Autriche,1993,96.9,NaN
4,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTX4_MEMONIA,I90,Autriche,1994,97.3,NaN
...,...,...,...,...,...,...,...,...,...,...
3055,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,I90,Royaume-Uni,2015,66.0,NaN
3056,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,I90,Royaume-Uni,2016,63.0,NaN
3057,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,I90,Royaume-Uni,2017,61.9,NaN
3058,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,I90,Royaume-Uni,2018,61.2,NaN
3059,ESTAT:SDG_13_10(1.0),17/08/21 23:00:00,A,GHG,TOTXMEMONIA,I90,Royaume-Uni,2019,59.7,NaN

In [112]:
I90_clean_df = pd.DataFrame(data={'Pays' : I90_df.geo, 'Value' : I90_df.OBS_VALUE, 'Time': I90_df.TIME_PERIOD})
I90_clean_df

             Pays  Value  Time
0        Autriche  100.0  1990
1        Autriche  104.8  1991
2        Autriche   96.5  1992
3        Autriche   96.9  1993
4        Autriche   97.3  1994
...           ...    ...   ...
3055  Royaume-Uni   66.0  2015
3056  Royaume-Uni   63.0  2016
3057  Royaume-Uni   61.9  2017
3058  Royaume-Uni   61.2  2018
3059  Royaume-Uni   59.7  2019

[2040 rows x 3 columns]

In [113]:
I90_clean_df.set_index('Time', inplace=True)
I90_clean_df

             Pays  Value
Time
1990     Autriche  100.0
1991     Autriche  104.8
1992     Autriche   96.5
1993     Autriche   96.9
1994     Autriche   97.3
...           ...    ...
2015  Royaume-Uni   66.0
2016  Royaume-Uni   63.0
2017  Royaume-Uni   61.9
2018  Royaume-Uni   61.2
2019  Royaume-Uni   59.7

[2040 rows x 2 columns]

In [114]:
I90_clean_df = I90_clean_df.pivot_table(values='Value', index=I90_clean_df.index, columns='Pays')
I90_clean_df

Pays,Allemagne,Autriche,Belgique,Bulgarie,Chypre,Croatie,Danemark,Espagne,Estonie,Finlande,...,Roumanie,Royaume-Uni,Slovaquie,Slovénie,Suisse,Suède,Tchéquie,Turquie,Union européenne - 27 pays (à partir de 2020),Union européenne - 28 pays (2013-2020)
Time,,,,,,,,,,,,,,,,,,,,,
1990,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,...,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
1991,94.35,101.65,101.60,79.70,110.35,72.45,113.30,103.15,90.25,85.70,...,79.65,101.05,85.60,90.15,100.40,100.90,89.80,103.70,96.75,97.40
1992,90.20,96.40,101.35,74.15,117.20,65.30,106.10,107.00,66.30,88.30,...,75.30,98.70,76.80,89.65,101.10,100.10,86.35,107.05,94.05,94.70
1993,89.60,96.60,100.60,73.70,119.50,65.05,108.30,103.05,51.15,91.65,...,70.30,96.40,71.95,91.65,96.55,107.10,82.40,111.25,92.40,92.95
1994,88.50,97.15,103.85,68.90,124.00,61.60,113.30,109.60,53.20,106.00,...,66.55,95.35,68.65,93.55,96.15,109.40,79.15,107.55,91.90,92.45
1995,87.90,100.90,105.45,70.45,123.95,62.75,109.40,115.25,48.05,100.90,...,68.55,94.65,69.90,97.80,97.45,104.55,78.60,114.75,92.75,93.00
1996,89.65,107.45,108.30,70.75,129.05,65.15,126.40,112.45,49.90,104.20,...,69.60,97.40,69.70,99.60,97.45,109.70,80.05,125.15,94.50,94.90
1997,86.95,100.75,102.75,67.00,130.55,71.20,114.10,117.95,48.75,106.25,...,66.40,94.35,69.70,102.35,97.10,98.30,78.00,130.15,93.15,93.30
1998,84.95,101.25,106.40,62.60,136.95,72.20,108.80,121.50,43.70,101.60,...,59.95,94.40,67.85,99.25,101.15,97.80,74.85,130.80,92.25,92.55
1999,82.30,97.35,102.80,54.75,140.85,75.45,105.65,131.05,41.35,100.15,...,52.90,91.05,66.40,95.15,101.70,92.30,69.85,128.95,90.65,90.75
2000,82.65,100.20,103.75,53.55,147.55,77.50,99.95,136.75,39.40,97.25,...,50.20,91.25,63.60,93.35,107.85,87.25,74.80,140.95,90.90,90.95
2001,83.75,103.40,102.35,59.05,147.80,79.90,101.50,135.65,40.15,104.20,...,51.30,91.45,67.50,101.15,104.50,87.70,74.75,130.25,91.60,91.60
2002,83.10,109.45,101.80,55.95,150.20,83.00,101.00,142.35,39.10,106.85,...,52.40,88.85,65.05,98.70,99.65,89.20,72.95,131.45,91.40,91.05
2003,82.90,123.85,102.20,61.65,157.55,89.65,107.60,145.50,42.35,117.95,...,54.75,89.80,65.65,98.45,100.85,93.50,74.90,141.05,93.45,92.95
2004,81.55,120.55,102.75,60.20,159.45,89.25,99.95,151.60,44.30,111.60,...,54.05,89.55,66.75,99.60,101.60,101.75,75.45,146.50,93.35,92.85
2005,79.80,121.40,100.60,60.25,160.00,90.65,94.30,157.20,47.40,92.50,...,53.05,88.95,69.50,101.15,102.60,97.55,74.35,158.35,93.00,92.40
2006,80.30,122.50,98.80,62.45,163.60,92.30,104.65,154.55,44.45,105.60,...,53.80,88.10,67.20,102.80,103.20,83.40,75.60,169.45,92.85,92.15
2007,78.50,118.75,96.55,66.25,169.85,98.85,98.90,159.25,53.40,111.00,...,52.85,86.55,64.85,102.55,101.25,90.85,76.90,187.50,92.65,91.75
2008,78.15,118.95,96.85,65.90,172.40,94.80,93.30,146.95,46.30,95.95,...,51.10,83.85,66.30,107.95,103.05,84.85,73.60,187.75,90.25,89.30
2009,72.65,109.10,87.95,55.80,167.70,86.40,88.60,132.65,37.90,79.60,...,43.10,76.80,60.30,94.65,99.25,75.30,68.75,191.00,83.40,82.45
2010,75.55,114.60,93.30,59.15,162.95,85.45,88.35,127.20,48.00,101.70,...,40.80,78.40,61.80,96.30,102.85,84.95,70.35,192.90,85.50,84.40
2011,73.55,111.40,86.40,66.65,158.35,86.70,81.35,127.55,47.90,89.90,...,44.30,73.05,60.45,96.25,97.60,76.15,69.25,207.65,83.30,81.80
2012,73.85,108.10,84.25,61.40,149.40,81.25,74.90,125.15,45.90,79.10,...,42.60,75.00,56.35,92.85,99.05,69.10,67.10,219.30,81.65,80.70
2013,75.20,109.20,83.90,56.25,137.05,75.30,77.00,115.70,51.30,85.25,...,39.15,73.35,55.10,93.90,101.15,68.75,64.45,215.00,79.90,78.95
2014,71.95,104.40,80.15,58.95,143.15,72.15,72.10,116.30,51.50,76.55,...,39.30,68.45,53.75,104.95,95.50,65.30,63.35,225.60,77.25,76.00
2015,72.25,107.75,83.25,62.90,143.45,75.05,68.10,120.10,42.75,72.90,...,39.80,66.40,54.65,106.50,93.30,68.25,64.25,227.85,78.45,76.70
2016,72.65,109.55,82.45,60.30,155.85,75.30,71.65,116.55,46.65,78.25,...,38.70,63.35,55.20,112.35,94.25,61.80,65.40,241.60,78.65,76.40
2017,71.60,112.20,82.60,62.90,157.85,79.65,68.65,121.80,51.05,75.25,...,40.60,62.30,56.90,113.45,93.45,64.50,66.50,254.45,79.80,77.25
2018,68.90,107.85,83.30,58.55,156.10,74.55,69.80,120.10,50.80,83.70,...,41.30,61.55,57.60,112.70,92.25,65.20,67.65,255.30,78.00,75.65
2019,65.30,110.40,82.45,57.05,156.55,74.60,64.05,113.80,36.70,73.40,...,38.80,60.00,53.80,105.95,90.90,62.00,67.15,250.85,75.05,72.90