In [36]:
import pandas as pd
import numpy as np
import dbf
from simpledbf import Dbf5
from dbfread import DBF

In [86]:
dbf = Dbf5('../data/data mariages 2014.dbf')
mar_14 = dbf.to_dataframe()

dbf = Dbf5('../data/data mariages 2015.dbf')
mar_15 = dbf.to_dataframe()

dbf = Dbf5('../data/data mariages 2016.dbf')
mar_16 = dbf.to_dataframe()

dbf = Dbf5('../data/data mariages 2017.dbf')
mar_17 = dbf.to_dataframe()

dbf = Dbf5('../data/data mariages 2018.dbf')
mar_18 = dbf.to_dataframe()

dbf = Dbf5('../data/data mariages 2019.dbf')
mar_19 = dbf.to_dataframe()

dbf = Dbf5('../data/data mariages 2020.dbf')
mar_20 = dbf.to_dataframe()

In [80]:
def filter_df(df):
    df.drop(columns = ['ANAIS1', 'DEPNAIS1', 'INDNAT1', 'ETAMAT1', 'ANAIS2', 'DEPNAIS2', 'INDNAT2','ETAMAT2', 'JSEMAINE', 'DEPDOM', 'TUDOM', 'TUCOM', 'NBENFCOM'], axis=1, inplace=True)

In [87]:
filter_df(mar_14)
filter_df(mar_15)
filter_df(mar_16)
filter_df(mar_17)
filter_df(mar_18)
filter_df(mar_19)
filter_df(mar_20)

In [89]:
df = pd.concat([mar_14, mar_15, mar_16, mar_17, mar_18, mar_19, mar_20])

In [90]:
df

       SEXE1 SEXE2  AMAR MMAR DEPMAR
0          F     M  2014   02     01
1          M     F  2014   08     01
2          M     F  2014   08     01
3          M     F  2014   08     01
4          M     F  2014   05     01
...      ...   ...   ...  ...    ...
154576     M     F  2020   02     64
154577     M     F  2020   07     83
154578     M     F  2020   05     29
154579     M     F  2020   09    974
154580     M     F  2020   01     95

[1555919 rows x 5 columns]

In [91]:
df.groupby("DEPMAR").size()

DEPMAR
01     14911
02     12636
03      7290
04      4110
05      3269
       ...
974    19265
975       22
976     2624
977       37
978      133
Length: 104, dtype: int64

In [92]:
df.groupby("DEPMAR").size().sum()  #to check

1555919