In [3]:
import pandas as pd
from simpledbf import Dbf5

PyTables is not installed. No support for HDF output.
SQLalchemy is not installed. No support for SQL output.

In [10]:
dbf = Dbf5('TOUT TOUT  TOUT comme 2014.dbf')
df = dbf.to_dataframe()

In [18]:
df

,ANAIS1,DEPNAIS1,SEXE1,INDNAT1,ETAMAT1,ANAIS2,DEPNAIS2,SEXE2,INDNAT2,ETAMAT2,AMAR,MMAR,JSEMAINE,DEPMAR,DEPDOM,TUDOM,TUCOM,NBENFCOM
0,1987,99,M,2,1,1985,01,F,1,1,2015,08,6,01,99,9,NaN,N
1,1976,99,M,1,4,1994,83,F,1,1,2015,12,6,01,99,9,NaN,N
2,1961,99,M,1,4,1987,75,F,1,1,2015,09,6,01,99,9,NaN,N
3,1960,99,M,2,4,1971,99,F,1,1,2015,05,5,01,99,9,NaN,N
4,1982,99,M,2,1,1985,01,F,1,1,2015,05,6,01,99,9,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236311,1962,99,F,1,4,1963,58,M,1,1,2015,08,6,84,988,9,P,N
236312,1978,988,M,1,1,1986,974,F,1,1,2015,08,6,974,988,9,P,N
236313,1983,988,M,1,1,1984,59,F,1,1,2015,09,4,59,988,9,P,N
236314,1984,29,F,1,1,1981,29,M,1,1,2015,05,6,29,988,9,M,N
236315,1981,36,M,1,1,1986,71,F,1,1,2015,08,6,71,988,9,M,O

In [11]:
df.drop(["ANAIS1", "DEPNAIS1", "INDNAT1", "ETAMAT1", "ANAIS2", "DEPNAIS2", "INDNAT2", "ETAMAT2", "DEPDOM", "TUDOM", "TUCOM","NBENFCOM"], axis = 1, inplace = True)
df

       SEXE1 SEXE2  AMAR MMAR JSEMAINE DEPMAR
0          M     F  2015   08        6     01
1          M     F  2015   12        6     01
2          M     F  2015   09        6     01
3          M     F  2015   05        5     01
4          M     F  2015   05        6     01
...      ...   ...   ...  ...      ...    ...
236311     F     M  2015   08        6     84
236312     M     F  2015   08        6    974
236313     M     F  2015   09        4     59
236314     F     M  2015   05        6     29
236315     M     F  2015   08        6     71

[236316 rows x 6 columns]

In [15]:
df.groupby("DEPMAR").size()

DEPMAR
01     2270
02     1948
03     1139
04      583
05      502
       ...
971    1172
972    1017
973     590
974    2827
976     346
Length: 101, dtype: int64

In [18]:
df.groupby("DEPMAR").size().sum()  #to check

236316