In [3]:
import pandas as pd

,Code bassin 2015,Nom bassin 2015,Famille métier,Libellé Famille métier,Métier,Libellé du métier,Code département,Nom Departement,Projets de recrutement totaux,Projets de recrutement difficiles,...,nommetier,NOM_REG18,BE19,NOMBE19,BE20,NOMBE20,Code métier BMO,Nom métier BMO,BE21,NOMBE21
0,101.0,SAINTE-ROSE,Z,Autres métiers,A0Z40,"Agriculteurs salariés, ouvriers agricoles",971,GUADELOUPE,45.909687,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,101.0,SAINTE-ROSE,Z,Autres métiers,A0Z43,Conducteurs d'engins agricoles ou forestiers,971,GUADELOUPE,8.636562,8.636562,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,101.0,SAINTE-ROSE,Z,Autres métiers,A1Z41,"Jardiniers salariés, paysagistes",971,GUADELOUPE,9.861437,9.861437,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,101.0,SAINTE-ROSE,Z,Autres métiers,A2Z70,Techniciens et agents d'encadrement d'exploita...,971,GUADELOUPE,8.636562,8.636562,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101.0,SAINTE-ROSE,O,Ouvriers de la construction et du bâtiment,B0Z21,Ouvriers non qualifiés du gros œuvre du bâtiment,971,GUADELOUPE,14.846788,7.423394,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,W1Z80,Formateurs,9332.0,HAUT VAR
46591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,W1Z80,Formateurs,9333.0,AIX GARDANNE SALON
46592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,W1Z80,Formateurs,NaN,NaN
46593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,W1Z80,Formateurs,NaN,NaN
46594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,W1Z80,Formateurs,NaN,NaN

In [35]:
df15 = pd.read_excel("data/ResmetBE15.xls", sheet_name=1)
df15 = df15.iloc[:,[3 ,5 ,6 ,7 , 8, 11, 12]]
df15['Année']=2015
df15 = df15[['Année', 'Libellé Famille métier', 'Libellé du métier' ,'Nom Departement', 'Code département', 'Nom Region', 'Code region',   'Projets de recrutement totaux']]

df16 = pd.read_excel("data/ResMetBE16.xlsx", sheet_name=0)
df16 = df16.iloc[:,[0 ,4 ,6 ,7 , 8, 9, 12, 13]]
df16.columns = ['Année', 'Libellé Famille métier', 'Libellé du métier', 'Code département', 'Nom Departement', 'Projets de recrutement totaux', 'Code region', 'Nom Region']
df16 = df16[['Année', 'Libellé Famille métier', 'Libellé du métier' ,'Nom Departement', 'Code département', 'Nom Region', 'Code region',   'Projets de recrutement totaux']]

df17 = pd.read_excel("data/ResMetBE17.xlsx", sheet_name=1)
df17 = df17.iloc[:,[0 ,4 ,6 ,7 , 8, 9, 12, 13]]
df17.columns = ['Année', 'Libellé Famille métier', 'Libellé du métier', 'Code département', 'Nom Departement', 'Projets de recrutement totaux', 'Code region', 'Nom Region']
df17 = df17[['Année', 'Libellé Famille métier', 'Libellé du métier' ,'Nom Departement', 'Code département', 'Nom Region', 'Code region',   'Projets de recrutement totaux']]

df18 = pd.read_excel("data/ResMetBE18.xlsx", sheet_name=1)
df18 = df18.iloc[:,[0 ,4 ,6 ,7 , 8, 9, 12, 13]]
df18.columns = ['Année', 'Libellé Famille métier', 'Libellé du métier', 'Code département', 'Nom Departement', 'Projets de recrutement totaux', 'Code region', 'Nom Region']
df18 = df18[['Année', 'Libellé Famille métier', 'Libellé du métier' ,'Nom Departement', 'Code département', 'Nom Region', 'Code region',   'Projets de recrutement totaux']]

df19 = pd.read_excel("data/ResMetBE19.xlsx", sheet_name=1)
df19 = df19.iloc[:,[0 ,4 ,6 ,7 , 8, 9, 12, 13]]
df19.columns = ['Année', 'Libellé Famille métier', 'Libellé du métier', 'Code département', 'Nom Departement', 'Projets de recrutement totaux', 'Code region', 'Nom Region']
df19 = df19[['Année', 'Libellé Famille métier', 'Libellé du métier' ,'Nom Departement', 'Code département', 'Nom Region', 'Code region',   'Projets de recrutement totaux']]

df20 = pd.read_excel("data/ResMetBE20.xlsx", sheet_name=1)
df20 = df20.iloc[:,[0 ,4 ,6 ,7 , 8, 9, 12, 13]]
df20.columns = ['Année', 'Libellé Famille métier', 'Libellé du métier', 'Code département', 'Nom Departement', 'Projets de recrutement totaux', 'Code region', 'Nom Region']
df20 = df20[['Année', 'Libellé Famille métier', 'Libellé du métier' ,'Nom Departement', 'Code département', 'Nom Region', 'Code region',   'Projets de recrutement totaux']]

df21 = pd.read_excel("data/Base_open_data_21_def.xlsx", sheet_name=1)
df21 = df21.iloc[:,[0 ,2 ,4 ,7 , 8, 9, 10, 11]]
df21.columns = ['Année', 'Libellé du métier', 'Libellé Famille métier', 'Code département', 'Nom Departement', 'Code region', 'Nom Region', 'Projets de recrutement totaux']
df21 = df21[['Année', 'Libellé Famille métier', 'Libellé du métier' ,'Nom Departement', 'Code département', 'Nom Region', 'Code region',   'Projets de recrutement totaux']]

df = pd.concat([df15, df16, df17, df18, df19, df20, df21])
df

,Année,Libellé Famille métier,Libellé du métier,Nom Departement,Code département,Nom Region,Code region,Projets de recrutement totaux
0,2015,Autres métiers,"Agriculteurs salariés, ouvriers agricoles",GUADELOUPE,971,GUADELOUPE,1.0,45.909687
1,2015,Autres métiers,Conducteurs d'engins agricoles ou forestiers,GUADELOUPE,971,GUADELOUPE,1.0,8.636562
2,2015,Autres métiers,"Jardiniers salariés, paysagistes",GUADELOUPE,971,GUADELOUPE,1.0,9.861437
3,2015,Autres métiers,Techniciens et agents d'encadrement d'exploita...,GUADELOUPE,971,GUADELOUPE,1.0,8.636562
4,2015,Ouvriers de la construction et du bâtiment,Ouvriers non qualifiés du gros œuvre du bâtiment,GUADELOUPE,971,GUADELOUPE,1.0,14.846788
...,...,...,...,...,...,...,...,...
46590,2021,Fonctions sociales et médico-sociales,Formateurs,Var,83,Provence-Alpes-Côte d'Azur,93.0,37
46591,2021,Fonctions sociales et médico-sociales,Formateurs,Bouches-du-Rhône,13,Provence-Alpes-Côte d'Azur,93.0,189
46592,2021,Fonctions sociales et médico-sociales,Formateurs,Alpes-Maritimes,06,Provence-Alpes-Côte d'Azur,93.0,10
46593,2021,Fonctions sociales et médico-sociales,Formateurs,Corse-du-Sud,2A,Corse,94.0,12
46594,2021,Fonctions sociales et médico-sociales,Formateurs,Haute-Corse,2B,Corse,94.0,20