In [2]:
import pandas as pd
from zipfile import ZipFile
from io import BytesIO
from urllib.request import urlopen

data = urlopen('https://www.insee.fr/fr/statistiques/fichier/4768335/etatcivil2019_nais2019_csv.zip')
zipfile = ZipFile(BytesIO(data.read()))
test = []
with zipfile as f:
    for name in f.namelist():
        with f.open(name) as zd:
            test.append(pd.read_csv(zd, delimiter=';'))
test[:5]

/tmp/ipykernel_152342/582654789.py:12: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  test.append(pd.read_csv(zd, delimiter=';'))

[        ANAIS ACCOUCHR  AGEMERE  AGEPERE  AGEXACTM  AGEXACTP  AMAR  ARECC  \
 0        2019       ES       33       33        32        32     0      0
 1        2019       ES       36       40        35        39     0      0
 2        2019       ES       37       41        37        41  2010      0
 3        2019       ES       26       29        26        29     0      0
 4        2019       AU       27       31        26        31     0      0
 ...       ...      ...      ...      ...       ...       ...   ...    ...
 753378   2019       ES       27       25        26        25     0      0
 753379   2019       ES       25       24        25        24     0   2019
 753380   2019       ES       32       26        32        26     0      0
 753381   2019       ES       30       28        30        28     0   2019
 753382   2019       ES       40       42        40        41     0   2019

         ARECM  ARECP  ... MRECC MRECM  MRECP  NBENF  ORIGINOM  SEXE  SITUATMR  \
 0        2019   2019  ...     0     1      1      1       1.0     2         S
 1        2019   2019  ...     0     7      7      1       1.0     2         S
 2           0      0  ...     0     0      0      1       1.0     1       NaN
 3        2019      0  ...     0    12      0      1       2.0     2         S
 4        2019      0  ...     0     4      0      1       1.0     1       NaN
 ...       ...    ...  ...   ...   ...    ...    ...       ...   ...       ...
 753378   2019   2019  ...     0     5      5      1       1.0     1        ND
 753379      0      0  ...     2     0      0      1       1.0     1       NaN
 753380   2019   2019  ...     0     6      3      1       1.0     1         S
 753381      0      0  ...     9     0      0      1       3.0     2         S
 753382      0      0  ...     8     0      0      1       1.0     2         S

         SITUATPR  TUCOM  TUDOM
 0              S    NaN      9
 1              S    NaN      9
 2             NS    NaN      9
 3             ND    NaN      9
 4            NaN    NaN      9
 ...          ...    ...    ...
 753378        ND      P      9
 753379         S      P      9
 753380         S      P      9
 753381       NaN      M      9
 753382         S      P      9

 [753383 rows x 32 columns],
       COD_VAR                                            LIB_VAR COD_MOD  \
 0       ANAIS                     Année de naissance de l'enfant    2019
 1    ACCOUCHR                       Conditions de l’accouchement     NaN
 2    ACCOUCHR                       Conditions de l’accouchement      ES
 3    ACCOUCHR                       Conditions de l’accouchement      AU
 4     AGEMERE  Age de la mère dans l’année de naissance de l’...      17
 ..        ...                                                ...     ...
 605     TUDOM  Tranche d’unité urbaine 2010 du lieu de domici...       5
 606     TUDOM  Tranche d’unité urbaine 2010 du lieu de domici...       6
 607     TUDOM  Tranche d’unité urbaine 2010 du lieu de domici...       7
 608     TUDOM  Tranche d’unité urbaine 2010 du lieu de domici...       8
 609     TUDOM  Tranche d’unité urbaine 2010 du lieu de domici...       9

                                             LIB_MOD TYPE_VAR  LONG_VAR
 0                        Fichier naissances de 2019     CHAR         4
 1                  Jugement déclaratif de naissance     CHAR         2
 2                  Dans un établissement spécialisé     CHAR         2
 3                                             Autre     CHAR         2
 4                                   17 ans ou moins     CHAR         2
 ..                                              ...      ...       ...
 605      Unité urbaine de 50 000 à 99 999 habitants     CHAR         1
 606    Unité urbaine de 100 000 à 199 999 habitants     CHAR         1
 607  Unité urbaine de 200 000 à 1 999 999 habitants     CHAR         1
 608                          Agglomération de Paris     CHAR         1
 609                                 COM ou étranger     CHAR         1

 [610 rows x 6 columns]]

In [27]:
4562/692

6.592485549132948

In [3]:

df = pd.read_csv('data/FD_NAIS_2019.csv', delimiter=';')

/tmp/ipykernel_152342/907650445.py:1: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/FD_NAIS_2019.csv', delimiter=';')