In [45]:
from IPython.display import display
import pandas as pd

data_revenus = pd.read_excel('../../data/revenus_communes_2019.xlsx')
data_bars = pd.read_csv('../../data/osm-fr-bars.csv', sep=';')

display(data_revenus, data_bars)

,Unnamed: 0,DGFiP - Bureau des études statistiques en matière fiscale,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IRCOM revenus 2019
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Montants en milliers d'euros (exceptés ceux de...
2,NaN,Dép.,Commune,Libellé de la commune,Revenu fiscal de référence par tranche (en euros),Nombre de foyers fiscaux,Revenu fiscal de référence des foyers fiscaux,Impôt net (total)*,Nombre de foyers fiscaux imposés,Revenu fiscal de référence des foyers fiscaux ...,Traitements et salaires,NaN,Retraites et pensions,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nombre de foyers concernés,Montant,Nombre de foyers concernés,Montant
4,NaN,010,001,L'Abergement-Clémenciat,TOTAL,447,13521.06,738.597,249,9873.482,312,9535.029,161,4017.749
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82930,NaN,B31,999,Autres,50 001 à 100 000,443,31302.071,7757.596,n.c.,n.c.,n.c.,n.c.,n.c.,n.c.
82931,NaN,B31,999,Autres,Plus de 100 000,586,108462.346,31927.764,n.c.,n.c.,n.c.,n.c.,n.c.,n.c.
82932,NaN,B31,999,Autres,TOTAL,3963,171885.111,45862.369,2589,170115.095,162,3568.91,31,560.458
82933,NaN,"* Impôt sur le revenu émis par voie de rôle, h...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82934,NaN,n.c.: cellule couverte par le secret statistique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Geo Point,Nom,Boissons,Site web,Téléphone,Horaires,Accessible PMR,PMR (description),Toilettes PMR,Id Wikidata,Id Wikipédia,Code postal,other_tags
0,"44.0549704,0.2603921",Au boin coin,NaN,NaN,+33 5 53 65 67 45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{""cuisine"": ""tapas"", ""ref:FR:CRTA"": ""RESAQU047..."
1,"47.9094426,1.9076031",Le Diabolo Menthe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{""source"": ""survey""}"
2,"48.8020856,2.427514",Café de la Gare,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"41.6976671,9.0644945",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"43.788717,4.8299152",Brasserie du Commerce,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13210,"{""addr:housenumber"": ""22"", ""addr:city"": ""Saint..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17928,"44.2761336,5.2758837",Les Glycines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17929,"46.7227908,2.5037666",La Rotonde,NaN,NaN,+33 2 48961610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17930,"43.8339541,4.3534613",La Movida,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17931,"46.7776345,4.8488139",Nicéphore Café,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17932,"43.3685096,-1.7927453999999998",Uxoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
data_bars = data_bars[["Geo Point", "Code postal"]]
display(data_bars)

                            Geo Point Code postal
0                44.0549704,0.2603921         NaN
1                47.9094426,1.9076031         NaN
2                 48.8020856,2.427514         NaN
3                41.6976671,9.0644945         NaN
4                 43.788717,4.8299152       13210
...                               ...         ...
17928            44.2761336,5.2758837         NaN
17929            46.7227908,2.5037666         NaN
17930            43.8339541,4.3534613         NaN
17931            46.7776345,4.8488139         NaN
17932  43.3685096,-1.7927453999999998         NaN

[17933 rows x 2 columns]